{% extends "templates/partials/page.html" %}

{% block content %}
<h1>Haartransplantation: ein Überblick</h1>
<h2>Eigenhaartransplantationen sind heutzutage sehr gut verträglich</h2>
<p>Behandlungen ohne operativen Eingriff bieten bei Haarausfall zwar einige Möglichkeiten. Neuen Haarwuchs an kahl gewordenen Stellen kann aber einzig und allein eine Haartransplantation bewirken. Die Haarexperten von S-thetic Hair geben Ihnen hier einen umfassenden Überblick zu Verfahren und möglichen Ergebnissen – und informieren Sie über den medizinischen Fortschritt bei der Transplantationstechnik.</p>

<h2>Was eine Haarverpflanzung bewirken kann</h2>
<p>Bei der Eigenhaartransplantation gibt es mehrere verschiedene Verfahrensweisen. Sie alle haben ein Prinzip gemeinsam: Ihnen werden Haare in einer voll bewachsenen Körperregion entnommen und an kahlen Stellen wieder eingepflanzt. Ziel ist ein dauerhafter, kräftiger Haarwuchs in der Haarausfallregion – und zwar lebenslang. Wenn die Voraussetzungen für die Haarverpflanzung stimmen und erfahrene Operateure die richtige Technik anwenden, lässt sich dies in den meisten Fällen auch erreichen.</p>
<ul>
    <li>Für die Entnahme der Spenderhaare wird meist der Hinterkopf gewählt.</li>
    <li>Haare aus dem Hinterkopfbereich bleiben auch nach der Verpflanzung immun gegen die Hormone, die erblich bedingten Haarausfall auslösen.</li>
    <li>Einmal richtig eingewachsen, bleiben die verpflanzten Haare ein Leben lang erhalten.</li>
</ul>
<p>Auch bei Barthaaren, Wimpernhaaren und Augenbrauen ist mit einem vergleichbaren Verfahren eine Eigenhaarverpflanzung möglich.</p>

<h2>Verfahren der Haartransplantation</h2>
<p>Bei einer Haarverpflanzung sollen die Spenderhaare Ihre kahlen Stellen so auffüllen, dass niemand mehr einen Unterschied zu den bereits vorhandenen Haaren bemerkt. Die Haarlinie, die Haardichte, die Verteilung der Haare und ihre besondere Wuchsrichtung – alles muss bei einer Haarverpflanzung stimmen.
Zwei Verfahren der Haartransplantation werden heute am häufigsten angewendet:
</p>
<ul>
<li>Beim FUE-Verfahren (follicular unit extraction = Entnahme einzelner Haarfollikel) werden die zu verpflanzenden Haare einzeln am Hinterkopf mit einer besonders dünnen Hohlnadel gewonnen.</li>
<li>Bei der FUT-Methode (follicular unit transplantation = Verpflanzung von Follikeleinheiten) liefert ein Hautstreifen aus dem Hinterkopfbereich die Spenderhaare.</li>
</ul>
<p>Welches Verfahren der Eigenhaartransplantation wir bei Ihnen anwenden, hängt unter anderem vom Umfang des Bedarfs an Spenderhaaren ab.
Das besonders schonende FUE-Verfahren kann bei Ihnen zum Auffüllen kleinerer kahler Zonen angewendet werden. Der besondere Vorteil: Im Anschluss an die Entnahme bleiben nur winzige Närbchen am Hinterkopf zurück. Die Haare können dort nach der Haarverpflanzung also auch sehr kurz getragen werden. Voraussetzung für die Anwendung des FUE-Verfahrens ist, dass der Haarbedarf etwa 2000 Haare nicht übersteigt.
</p>
<p>Mit dem FUT-Verfahren der Haartransplantation können wir bei Ihnen mehrere tausend Haarwurzeln auf einmal verpflanzen. Sind größere Flächen aufzufüllen, kann diese Methode also Vorteile bringen. Nach Entnahme des Kopfhautstreifens bleibt am Hinterkopf eine Narbe zurück. Solange Sie das Deckhaar nach der Haartransplantation mindestens einen Zentimeter lang lassen, ist diese Narbe jedoch nicht zu sehen.</p>

<h2>Günstiger Zeitpunkt</h2>
<p>Nach Untersuchung Ihrer Kopfhaut muss der Operateur Ihr Haarproblem zunächst genau verstehen. Eine Haartransplantation ist nur bei sogenanntem androgenetischem Haarausfall sinnvoll. Diese Art von Haarausfall kommt bei etwa 80 % aller Männer, aber auch bei ungefähr 50 % der Frauen vor. Er geht auf eine vererbte Überempfindlichkeit der Haarwurzeln gegen körpereigene Sexualhormone zurück, die Androgene.
Daneben muss der Operateur ermitteln, ob der Zeitpunkt für eine Haartransplantation sinnvoll ist:
</p>
<ul>
    <li>In manchen Fällen lohnt es sich, mit der Haarverpflanzung zu warten, bis der Haarausfall seinen Höhepunkt erreicht hat.</li>
    <li>Erst dann lässt sich per Eigenhaartransplantation ein harmonisches, ansprechendes Haarbild erreichen.</li>
</ul>
<p>Daran, ob Sie in diesem Punkt gut beraten werden, erkennen Sie unter anderem einen vertrauenswürdigen Behandler.</p>

<h2>Planung einer Haartransplantation</h2>
<p>Vor der Eigenhaartransplantation muss der Operateur verschiedene Berechnungen anstellen. So muss er etwa ermitteln, wie viele Haarwurzeln zu transplantieren sind, um bei Ihnen ein attraktives Haarbild herzustellen. Durchschnittlich sollten dazu 25 bis 45 Haarfollikel pro Quadratzentimeter veranschlagt werden.
Neben ausgezeichneten medizinischen Kenntnissen in Sachen Haarausfallbehandlung braucht Ihr Operateur dazu sehr viel Erfahrung. Nur so kann er mit einer gekonnten Haarverpflanzung Ihre persönliche Ausstrahlung verbessern und Ihnen mehr Lebensfreude schenken.
</p>

<h2>Beratung und Behandlung</h2>
<p>Wenn Sie Ihrem Haarausfall mit einer Haartransplantation begegnen möchten, untersuchen und beraten die Haarspezialisten von S-thetic Hair Sie jederzeit gern. Bitte vereinbaren Sie dazu Ihren persönlichen Termin – <a class="choose-location-trigger">telefonisch</a> oder über unser <a href="#contact-window">Kontaktformular</a>.</p>


{% endblock %}
{% block more-links %}
                    {% set haartransplantation = cms.haartransplantation %} {% for object in haartransplantation %}
                    <li><img class="more-links-arrow-icon" src="/static/img/icons/arrow.png" /><a href="{{ url(object) }}">{{ object.name }}</a>
                    </li>
                    {% endfor %}
{% endblock %}