<div id="" class="content-row not-mobile" style="">
    <div id="" class="content" style="">
        <div id="news-slider" style="position: relative; top: 0px; left: 0px; width: 1000px; height: 550px;">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1000px; height: 550px;">
                <div id="" class="" style="">
                    <div id="promo-area" class="" style="">
                         {% for row in cms.newsslider.slide_1 %}
                        <div id="" class="preview-box bounce" style="">
                        <div id="" class="preview-box-image-wrapper news-kenburns" style="">
                            <img src="{{ row.bild|imageSize(200, 200) }}" width="200" height="150" class="preview-img" />
                        </div>    
                            <a href="{{ row.link }}"><p class="preview-caption">{{ row.name|safe }}</p></a>
                            <a href="{{ row.link }}"><p class="preview-text">{{ row.text|safe }}</p></a>
                            <a href="{{ row.link }}" class="preview-link button-link">Mehr erfahren</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="" class="" style="">
                    <div id="promo-area" class="" style="">
                         {% for row in cms.newsslider.slide_2 %}
                        <div id="" class="preview-box bounce" style="">
                        <div id="" class="preview-box-image-wrapper news-kenburns" style="">
                            <img src="{{ row.bild|imageSize(200, 200) }}" width="200" height="150" class="preview-img" />
                        </div>    
                            <a href="{{ row.link }}"><p class="preview-caption">{{ row.name|safe }}</p></a>
                            <a href="{{ row.link }}"><p class="preview-text">{{ row.text|safe }}</p></a>
                            <a href="{{ row.link }}" class="preview-link button-link">Mehr erfahren</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
            <style>
                /* jssor slider arrow navigator skin 22 css */
                /*
                            .jssora22l                  (normal)
                            .jssora22r                  (normal)
                            .jssora22l:hover            (normal mouseover)
                            .jssora22r:hover            (normal mouseover)
                            .jssora22l.jssora22ldn      (mousedown)
                            .jssora22r.jssora22rdn      (mousedown)
                            */
                
                .jssora22l,
                .jssora22r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 40px;
                    height: 58px;
                    cursor: pointer;
                    background: url(http://www.s-thetic-hair.de/static/js/img/a22.png) center center no-repeat;
                    overflow: hidden;
                }
                
                .jssora22l {
                    background-position: -10px -31px;
                }
                
                .jssora22r {
                    background-position: -70px -31px;
                }
                
                .jssora22l:hover {
                    background-position: -130px -31px;
                }
                
                .jssora22r:hover {
                    background-position: -190px -31px;
                }
                
                .jssora22l.jssora22ldn {
                    background-position: -250px -31px;
                }
                
                .jssora22r.jssora22rdn {
                    background-position: -310px -31px;
                }
            </style>
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora22l" style="top: 220px; left: 8px;">
                        </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora22r" style="top: 220px; right: 8px;">
                        </span>
            <!--#endregion Arrow Navigator Skin End -->
        </div>
    </div>
</div>