<div id="wellcome" class="content-row">
    <div id="" class="content" style="">
        <div style="margin:0 auto;width:1000px;height:500px;">
            <img src="/static/img/content/sign.png" class="wellcome-sign" />
            <div id="" class="wellcome woman" style="">
                <div id="" class="wellcome-content woman" style="">
                    <img src="/static/img/content/woman.png" class="wellcome-image woman" />
                    <h2>Haartranslantation bei der Frau</h2>
                    <p>Mit einer schonenden Haartransplantation können die Haarexperten von S-thetic Hair ein für volleres, schöneres Haar sorgen.<br><br><br>
                        <a href="">&raquo; Haartransplantation</a><br>
                        <a href="">&raquo; Haarlinie</a><br>
                        <a href="">&raquo; Augenbrauentransplantation</a><br>
                        <a href="">&raquo; Wimperntransplantation</a><br>
                        <a href="">&raquo; FUE-Haartransplantation</a>

                </div>
            </div>
            <div id="" class="wellcome man" style="">
                <div id="" class="wellcome-content man" style="">
                    <img src="/static/img/content/man.png" class="wellcome-image man" />
                    <h2>Haartransplantation beim Mann</h2>
                    <p>Die Fachärzte von S-thetic Hair verwenden modernste Verfahren. Dadurch wirkt die Haarverpflanzung in aller Regel völlig natürlich.<br><br><br>
                        <a href="">&raquo; Haartransplantation</a><br>
                        <a href="">&raquo; Haarlinie</a><br>
                        <a href="">&raquo; Barthaartransplantation</a><br>
                        <a href="">&raquo; Haarlinie</a><br>
                        <a href="">&raquo; FUE-Haartransplantation</a>
                </div>
            </div>
        </div>
    </div>
</div>

