<div id="slider-row" class="" style="">
    <div id="slider-wrapper" class="" style="width:100%;position:relative;height:500px;">
        <div id="user-index-slider" class="" style="width:auto;
                                                                        height: auto;
                                                                        float: left;
                                                                        cursor: move;">
            <div id="slider1_container" style="margin:0 auto;width:1000px;height: 500px">
                <div id="slides" u="slides" style=" height: 500px;">
                    <div>
                        {% include "templates/partials/modules/slider/wellcome.html" %}
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>