{% include "templates/partials/layout/header.html" %}
<div id="" class="mobile-spacer" style="">
</div>
<div id="content" class="" style="">
    
        <aside class="sidebar not-mobile">
            <h1 id="map-header">Unsere Standorte <img src="/static/img/icons/toggle.png" alt="Toggle Icon" class="location-toggle-icon" /></h1>

            <img src="/static/img/map/map.png" alt="Deutschlandkarte" id="sidebar-map" class="choose-location-trigger" /> 
            
            {% include "templates/partials/modules/sidebar/sidebar-standorte.html" %}

            <h1 id="more-links-header">
                
            {% block more-links-header %}
                Weitere Behandlungen
            {% endblock %}
            
            </h1>
            
            <ul id="more-links">
                {% block more-links %} {% endblock %}
            </ul>
            
        </aside>
    
        <article class="article">
            {% if item.artikelbild_onoff %}
            <div id="article-image-wrapper">
                {% block article-image %} {% endblock %}
                <div id="article-image-caption">
                    {% block article-caption %} {% endblock %}
                </div>
            </div>
            {% endif %} {% block content %}{% endblock %}
        </article>
    
</div>

<div id="" class="mobile-spacer" style="">
</div>

{% include "templates/partials/layout/footer.html" %}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="/static/js/plugin/trmix.min.js"></script>
<script src="/static/js/plugin/jssor.slider.min.js"></script>
<script src="/static/js/plugin/jssor.slider.mini.js"></script>
<script src="/static/js/plugin/vegas.min.js"></script>
<script src="/static/js/plugin/jquery.slicknav.min.js"></script>
<script src="/static/js/plugin/jquery.mmenu.min.js"></script>

<!-- build:js /static/javascript/minified.js -->
<script src="/static/js/plugin/superfish.js"></script>
<script src="/static/js/plugin/js.cookie.js"></script>
<script src="/static/js/plugin/center.js"></script>
<script src="/static/js/plugin/visible.js"></script>
<script src="/static/js/plugin/jquery.snow.js"></script>

<script src="/static/js/fnc/slider.js"></script>
<script src="/static/js/fnc/fixed-menu.js"></script>
<script src="/static/js/fnc/mobile-menu.js"></script>
<script src="/static/js/fnc/choose-location.js"></script>
<script src="/static/js/fnc/contact-window.js"></script>
<!-- endbuild -->

<script src="/static/js/fnc/tracking.js"></script>


{% if item.slider_anaus %}
<script>
    $(document).ready(function () {
        $('#individual-slide').vegas({
            cover: true,
            slides: [{
                src: "{{ item.slider_bild.url }}"
             }],
        });
    })
</script>
{% endif %} 

{% if cms.ad.ad_anaus %}
<script>
    $(document).ready(function () {
        //Just for developing!

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            // some code..
        } else {
            if (Cookies.get('ad') != 1) {
                $('.ad-overlay').fadeIn();
                $('#ad').center();
                $.fn.snow({
                    minSize: 15,
                    maxSize: 50,
                    newOn: 500,
                    flakeColor: '#ffffff'
                });
                $('#ad').vegas({
                    cover: true,
                    slides: [{
                        src: '{{ cms.ad.ad_hintergrund.url }}'
                                            }]
                });
            }


            $('.ad-close').on('click', function () {
                Cookies.set('ad', '1', {
                    expires: 7
                });
                $('.ad-overlay').fadeOut();
            })

        };
    })
</script>
{% endif %}

<script>
    $(document).ready(function () {
        
        $('ul.sf-menu').superfish({
            animation: {
                opacity: 'show',
                height: 'show'
            }, // fade-in and slide-down animation
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('#header').addClass("sticky");
            } else {
                $('#header').removeClass("sticky");
            }
        });

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            // some code..
        } else {
            $('#cta').fadeIn('slow');
            $('#cta').on('click', function () {
                $('#cta').fadeOut();
            });
        }


    })
</script>

{% block scripts_extra %}{% endblock %} {# Google Analytics code. Feel free to remove. #}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-70141378-1', 'auto');
    ga('send', 'pageview');
</script>

</body>

</html>