<div style="width:100%;height:auto;display:block;">
	<div class="behandlung-menu-box">
		<a href="/standorte/düsseldorf/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/carousel/neu/E2-Content-Standort_DUSLounge2.jpg">
			</div>
			<span class="behandlung-menu-text">Düsseldorf</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/hamburg/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/clinic/clinic-hamburg-mosaik.jpg">
			</div>
			<span class="behandlung-menu-text">Hamburg</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/köln/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/carousel/neu/E2-Content-Standort_CGN.jpg">
			</div>
			<span class="behandlung-menu-text">Köln</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/münchen/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/carousel/neu/E2-Content-Standort_MUC.jpg">
			</div>
			<span class="behandlung-menu-text">München</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/stuttgart/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/carousel/neu/E2-Content-Standort_STR.jpg">
			</div>
			<span class="behandlung-menu-text">Stuttgart</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/mannheim/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/clinic/bd239.png">
			</div>
			<span class="behandlung-menu-text">Mannheim</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/frankfurt/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="http://s-thetic.de/images/sthetic-clinic-frankfurt-klein.jpg">
			</div>
			<span class="behandlung-menu-text">Frankfurt</span>
		</a>
	</div>
<!--	<div class="behandlung-menu-box">
		<a href="/standorte/nürnberg/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="https://lh3.googleusercontent.com/jILCmTG6jO8loAPUeyFiGRkI7Sc6ZV6vQPesmcXYUU50622NQCGQta5MULF8tWK0qwHbmUdre1Q5IvY0-A99r_oA37IE=w700-h400-c">
			</div>
			<span class="behandlung-menu-text">Nürnberg</span>
		</a>
	</div>
	<div class="behandlung-menu-box">
		<a href="/standorte/berlin/">
			<div id="" class="kenburns" style="">
				<img width="150" height="150" src="https://lh3.googleusercontent.com/jILCmTG6jO8loAPUeyFiGRkI7Sc6ZV6vQPesmcXYUU50622NQCGQta5MULF8tWK0qwHbmUdre1Q5IvY0-A99r_oA37IE=w700-h400-c">
			</div>
			<span class="behandlung-menu-text">Berlin</span>
		</a>
	</div>-->
</div>