<!--        <div id="" class="content-row" style="">
            <div id="" class="content" style="">
                <h1 class="center italic">Unser Team aus Spezialisten</h1>
            </div>
        </div>
        <div id="" class="content-row" style="">
            {% for row in cms.arztefooter.arzt %}
                <div id="" class="content" style="">
                <div id="" class="doc-wrapper" style="">
                     <div id="" class="doc-wrapper" style="">
                        <div id="" class="doc" style="">
                            <img src="{{ row.bild|imageSize(200, 200) }}" class="doc-img" />
                            <blockquote>{{ row.text|safe }} - <i>{{ row.name }}</i>
                                <br>
                                <br><a href="{{ row.profillink }}" class="button-link">Ihre Beratung beginnt hier</a>
                            </blockquote>
                        </div>
                    </div>      
                    <span class="spacer"></span>
                </div>
            </div>
        </div>
{% endfor %}-->