<nav class="mobile-clone-menu" id="slidebar">
</nav>
<div id="mobile-top-row" class="" style="">
    <img src="/static/img/logo-small.png" alt="S-thetic Hair Logo" class="mobile-top-row-logo" />
    <p class="mobile-top-row-text">S-thetic Hair</p>
    <a class="button-link mobile-top-row-button" href="#slidebar">Menu</a>
</div>
<div id="mobile-bottom-row" class="" style="">
    <img src="/static/img/icons/tele.png" alt="Telefon Icon" class="mobile-bottom-row-logo" />
    <p class="mobile-bottom-row-text"><a class="choose-mobile-location">Standort wählen</a></p>
</div>