
.doc-wrapper {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: auto;
}

.doc-wrapper p {
    display: inline;
}

.doc {
    width: 900px;
    height: auto;
    margin: 0 auto;
}

.doc-img {
    float: left;
    width: 200px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all linear 0.3s;
}

.doc blockquote {
    float: right;
    width: 600px;
}