#siegel-row {
    margin: 0 auto;
    width: 800px;
    height: auto;
    overflow: auto;
    padding: 15px 0px 15px 0px;
    .siegel {
        margin-left: 2vw;
    }
    a {
        float: left;
    }
}
