<div id="sidebar-standorte">
    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/düsseldorf/">S-thetic Lounge Düsseldorf</a></span>
    <span class="sidebar-standort-text">Königsallee 15<br> 40212 Düsseldorf<br>Tel. <span class="tracking2">0211/30049570</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/köln/">S-thetic Lounge Köln</a></span>
    <span class="sidebar-standort-text">Gladbacher Str. 44<br> 50672 Köln<br>Tel. <span class="tracking1">0221/92288536</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/frankfurt/">S-thetic Clinic Frankfurt</a></span>
    <span class="sidebar-standort-text">Mainzer Landstraße 65<br> 60329 Frankfurt am Main<br>Tel. <span class="tracking_tn01">069/24748892153</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/hamburg/">S-thetic Clinic Hamburg</a></span>
    <span class="sidebar-standort-text">Alsterarkaden 20<br> 20354 Hamburg<br>Tel. 040/70383383</span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/mannheim/">S-thetic Lounge Mannheim</a></span>
    <span class="sidebar-standort-text">Fronhofallee 1<br> 67098 Bad Dürkheim<br>Tel. <span class="tracking_tn04">06322/95837620</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/münchen/">S-thetic Lounge München</a></span>
    <span class="sidebar-standort-text">Sendlinger Tor Platz 7<br>80336 München<br>Tel. <span class="tracking_tn03">089/59068218</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/stuttgart/">S-thetic Lounge Stuttgart</a></span>
    <span class="sidebar-standort-text">Königstraße 4<br>70173 Stuttgart<br>Tel. <span class="tracking3">0711/22029825</span></span>

<!--    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/frankfurt/">S-thetic Lounge Nürnberg</a></span>
    <span class="sidebar-standort-text">Karolinenstrasse 23<br>90402 Nürnberg<br>Tel. <span class="tracking_tn05">0911 - 992 882 94</span></span>

    <span class="sidebar-standort-header"><img alt="Standort Icon" src="/static/img/icons/loca.png" class="location-icon" /><a href="/standorte/frankfurt/">S-thetic Lounge Berlin</a></span>
    <span class="sidebar-standort-text">Rosenthaler Str. 46/47<br>10178 Berlin<br>Tel. <span class="tracking_tn05">n.a.</span></span>-->
</div>