{% extends "templates/partials/page.html" %}


{% block content %}

<h1>Haarausfall kann viele Ursachen haben</h1>
<h2>Eine gezielte Therapie kann oft helfen</h2>
<p>Wenn sich in Waschbecken oder Haarbürste ausgefallene Haare finden, ist das noch kein Grund zur Besorgnis. Der Verlust von etwa 100 Haaren täglich ist völlig normal. Gehen aber zu viele Haare verloren, sollten Sie dem Haarausfall auf den Grund gehen. Die Haarexperten von S-thetic Hair geben Ihnen einen Überblick zu möglichen Ursachen und Behandlungsmöglichkeiten.</p>

<h2>Haarwachstum und Haarverlust</h2>
<p>Genügend Haare auf dem Kopf zu haben: Das ist bei den allermeisten von uns die Voraussetzung für ein gutes Selbstbewusstsein. Im Normalfall besitzt der Mensch um die 100.000 Kopfhaare. Ihre Erneuerung ist ein komplexer Kreislauf: Jedes gesunde Haar bleibt über einige Jahre vital und wächst beständig. Doch irgendwann geht das Haarwachstum zu Ende – aus der Wurzel drängt ein jungfräuliches Haar nach, das alte fällt aus. Büßen Haare vorzeitig ihre Lebenskraft ein oder ist das Nachwachsen gestört, kommt es zu Haarausfall. Die Zahl der verlorenen Haare übersteigt dann deutlich die der Exemplare, die nachkommen.
Haarexperten unterscheiden mehrere Arten des Haarausfalls:
</p>
<ul>
    <li>anlagebedingter (androgenetischer) Haarausfall</li>
    <li>mangel- oder stressbedingter Haarverlust</li>
    <li>krankheitsbedingter Haarausfall</li>
</ul>
<p>Welche Form von Haarausfall bei Ihnen vorliegt, kann nur ein erfahrener Arzt feststellen. Je nach Erscheinungsform des Haarverlusts kommen dafür verschiedene Untersuchungsverfahren in Frage.</p>

<h2>Anlagebedingter Haarausfall</h2>
<p>Hierbei handelt es sich um die Variante des Haarausfalls, die bei Männern wie bei Frauen deutlich am häufigsten vorkommt. Man nennt diesen erblich bedingten Haarverlust auch androgenetischen Haarausfall, weil er durch Androgene, also männliche Sexualhormone, ausgelöst wird:</p>
<ul>
    <li>Typische Anzeichen bei Männern sind zunächst Geheimratsecken, schließlich auch Haarverlust am oberen Hinterkopf.</li>
    <li>Die Haarverlustzonen können sich ausweiten, bis nur noch ein Haarkranz am Hinterkopf übrigbleibt.</li>
    <li>Bei Frauen äußert sich androgenetischer Haarausfall meist in einem dünnen Scheitel, einer hohen Stirn oder Ausdünnung der Haare auf der gesamten Kopfhaut.</li>
</ul>
<p>Verantwortlich für diese Art des Haarverlustes ist die Überempfindlichkeit der Haarwurzeln gegen Dihydrotestosteron, ein Abbauprodukt des männlichen Sexualhormons Testosteron. Dihydrotestosteron kommt bei Männern wie bei Frauen vor, jedoch in unterschiedlicher Menge. Die Überempfindlichkeit gegen das Dihydrotestosteron bewirkt, dass sich die Wachstumsphase der Haare verkürzt. Sie werden dünner und fallen schneller aus. Am Ende kann die Haarwurzel völlig verkümmern.
Bei anlagebedingtem Haarausfall kommen verschiedene Behandlungsmöglichkeiten in Frage: von Hormonpräparaten über eine Haarwurzeltherapie bis hin zur Eigenhaartransplantation. Eine Haartransplantation kann als einziges Verfahren neuen Haarwuchs an kahl gewordenen Stellen bewirken. Andere Behandlungen können lediglich das Fortschreiten des Haarverlusts aufhalten.
</p>

<h2>Mangel- oder stressbedingter Haarverlust</h2>
<p>Eine ungehinderte Nährstoffversorgung ist für ein gesundes Haarwachstum entscheidend. Kommt es hier zu Störungen, können Haarwurzeln so geschwächt werden, dass es zum Haarverlust kommt. Auch ein anlagebedingter Haarausfall kann sich auf diese Weise beschleunigen.</p>
<ul>
    <li>Falsche Ernährung kann dazu führen, dass den Haarwurzeln nicht genügend Nährstoffe zur Verfügung stehen. So verlieren Sie immer mehr Haare.</li>
    <li>Bei spannungsbedingtem Haarausfall kann eine übermäßige Anspannung der Kopfhaut die Blutzirkulation und damit die Nährstoffzufuhr beeinträchtigen.</li>
    <li>Insbesondere durch Stress in Alltag und Beruf kann die Versorgung der Haarwurzeln beeinträchtigt werden.</li>
</ul>
<p>Bei Mangel- oder stressbedingtem Haarausfall kann zum Beispiel eine gezielte Therapie zur Verbesserung der Nährstoffversorgung (PRP-Haarwurzelbehandlung oder Mesohair) oder eine Entspannungsbehandlung für die Kopfhaut helfen.</p>

<h2>Krankheitsbedingter Haarausfall</h2>
<p>Auch bestimmte Erkrankungen können Haarausfall bewirken. Hier sind so viele Ursachen möglich, dass eine ausgiebige Untersuchung durch einen erfahrenen Facharzt unerlässlich ist:</p>
<ul>
    <li>Beim kreisrunden Haarausfall (Alopecia areata) treten runde, haarlose Zonen, aber auch andere Arten von Haarverlust auf. Als Ursache gilt eine überschießende Immunreaktion. </li>
    <li>Pilzinfektionen oder eine Schuppenflechte gehen meist mit geröteter, juckender Kopfhaut einher. Auch hier kann Haarausfall die Folge sein.</li>
    <li>Eine Über- oder Unterfunktion der Schilddrüse kann ebenfalls Haarverlust bewirken.</li>
    <li>Haarausfall kann auch durch bestimmte Medikamente ausgelöst werden, die zur Linderung von Allgemeinerkrankungen eingenommen werden.</li>
</ul>

<h2>Untersuchung und Behandlung</h2>
<p>Erfahrene Haarexperten verfügen über zahlreiche Möglichkeiten, die Ursache Ihres Haarausfalls zu bestimmenJe früher Sie einen erfahrenen Facharzt aufsuchen, desto größer ist meist die Chance, dem Haarverlust entgegenzuwirken.
Es gibt zahlreiche erprobte Möglichkeiten, Ihrem Haarausfall auf den Grund zu gehen: von Zupftests über die optische Untersuchung der Kopfhaut mittels Haarlupe und Mikroskop bis hin zu Gewebeproben und Blutuntersuchungen. Die Fachärzte von S-thetic Hair untersuchen und beraten Sie im Rahmen ihrer Haarsprechstunde jederzeit gerne – und leiten gegebenenfalls die passende Behandlung ein.
</p>

<h2>Ihr individueller Termin</h2>
<p>Einen persönlichen Termin zur Untersuchung und Beratung können Sie mit dem freundlichen Team von S-thetic Hair jederzeit telefonisch oder über unser Kontaktformular vereinbaren.</p>


{% endblock %}
{% block more-links %}
                    {% set haarausfall = cms.haarausfall %} {% for object in haarausfall %}
                    <li><img class="more-links-arrow-icon" src="/static/img/icons/arrow.png" /><a href="{{ url(object) }}">{{ object.name }}</a>
                    </li>
                    {% endfor %}
{% endblock %}