{% extends "templates/partials/page.html" %}
{% block content %}
{{ cms.danke.text|safe }}


<!-- Google Code for S-Hair Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 980313395;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "YQlUCL7C6mMQs8q50wM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/980313395/?label=YQlUCL7C6mMQs8q50wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for MCC S-thetic Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 953559828;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "w6lOCIqq1VkQlNbYxgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/953559828/?label=w6lOCIqq1VkQlNbYxgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


{% endblock %}
