{% extends "templates/partials/base.html" %} {% block content %} {% include "templates/partials/modules/slider/news-slider.html" %} {% include "templates/partials/modules/slider/promo-slider.html" %} {% include "templates/partials/modules/siegel.html" %}

<div id="" class="mobile-spacer" style="">
</div>
<div id="content" class="mobile" style="">
    <div id="" class="article" style="">
        <h1>Erfolgreich gegen Haarausfall</h1>
        <iframe src="https://player.vimeo.com/video/117997452?portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p> Die Haarexperten von S-thetic Hair verfügen über viele Jahre Erfahrung in Sachen Haarausfallbehandlung. Das Besondere an uns: Wir vereinen neueste medizinische Verfahren mit einem ausgeprägten Sinn für das Schöne. Damit wir bei Ihnen für volles, ansehnliches Haar sorgen können, stimmen wir die Haarausfallbehandlung ganz individuell auf Sie ab. Eine gründliche Untersuchung ist dafür unverzichtbar – und bildet die Grundlage für eine erfolgreiche Haarausfallbehandlung. Unsere Haarspezialisten empfangen und beraten Sie jederzeit gerne! </p>
        <a class="button-link" href="/haarausfall/haarausfallbehandlung-ohne-op/">Mehr erfahren</a>
    </div>
</div>
<div id="" class="mobile-spacer" style="">
</div>

{% endblock %}