{# ------------------------------------------------------- #}
{# ONE OFF VIEW faqdiehaarverpflanzung #}
{# This page can use any data from http:localhost:2000/cms/#/form/faqdiehaarverpflanzung/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/page.html" %}
{# This sets our page <title>. It will append this faqdiehaarverpflanzung's name to the site title defined in base.html #}
{% block title %}{{ cms.ursachen.name }}{% endblock %}
{% block content %}
         {{ cms.ursachen.text|safe }}
{% endblock %}
{% block more-links %}
                    <li><a href="/untersuchungen/">Untersuchungen</a></li>
{% endblock %}
{% block article-image %}
    <img src="{{ item.artikelbild|imageCrop(700,400) }}" class="article-image" />
{% endblock %}
{% block article-caption %}
    {{ item.artikelbild_beschreibung }}
{% endblock %}