<div id="footer" class="not-mobile">
    <div id="" class="content" style="">
        <div id="" class="footer-grid" style="">
            <div id="" class="footer-grid-row three" style="">
                <h2><img src="/static/img/logo-small.png" style="float:left;width:25px;"><span style="margin-left:10px;">Haartransplantation</span></h2>
                    <ul>
                        <li><a href="/haartransplantation/haarlinie/">Haarlinie</a></li>
                        <li><a href="/haartransplantation/haarverpflanzung-männer/">Haarverpflanzung Männer</a></li>
                        <li><a href="/haartransplantation/haartransplantation-frauen/">Haartransplantation Frauen</a></li>
                        <li><a href="/haartransplantation/barthaartransplantation/">Baarthaartransplantation</a></li>
                        <li><a href="/haartransplantation/augenbrauentransplantation/">Augenbrauentransplantation</a></li>
                        <li><a href="/haartransplantation/wimperntransplantation/">Wimperntransplantation</a></li>
                        <li><a href="/haartransplantation/fue-haartransplantation/">FUE-Haartransplantation</a></li>
                        <li><a href="/fut-methode/">FUT-Methode</a></li>
                    </ul>
            </div>
            <div id="" class="footer-grid-row three" style="">
                <h2><img src="/static/img/logo-small.png" style="float:left;width:25px;"><span style="margin-left:10px;">Haarausfall</span></h2>
                    <ul>
                        <li><a href="/haarausfall/prp-haarwurzelbehandlung/">PRP-Haarwurzelbehandlung</a></li>
                        <li><a href="/haarausfall/mesohair/">MesoHair</a></li>
                        <li><a href="/haarausfall/scalp-micropigmentation/">Scalp Micropigmentation</a></li>
                        <li><a href="/haarausfall/haarausfallbehandlung-ohne-op/">Haarausfallbehandlung ohne OP</a></li>
                        <li><a href="/arten/typen-des-haarausfalls/">Arten des Haarausfalls</a></li>
                        <li><a href="/ursachen/">Ursachen</a></li>
                        <li><a href="/untersuchungen/">Untersuchungen</a></li>
                    </ul>
            </div>
            <div id="" class="footer-grid-row three" style="">
                <h2><img src="/static/img/logo-small.png" style="float:left;width:25px;"><span style="margin-left:10px;">Standorte</span></h2>
                    <ul>
                        <li><a href="/standorte/düsseldorf/">Düsseldorf</a></li>
                        <li><a href="/standorte/köln/">Köln</a></li>
                        <li><a href="/standorte/frankfurt/">Frankfurt</a></li>
                        <li><a href="/standorte/hamburg/">Hamburg</a></li>
                        <li><a href="/standorte/mannheim/">Mannheim</a></li>
                        <li><a href="/standorte/münchen/">München</a></li>
                        <li><a href="/standorte/stuttgart/">Stuttgart</a></li>
                    </ul>
            </div>
        </div>
        <div id="" class="footer-grid" style="border-top:1px solid rgba(255,255,255,0.2);">
            <div id="" class="footer-grid-row left" style="">
                <p class="footer-copyright">&copy; S-thetic Hair 2016</p>

            </div>
            <div id="" class="footer-grid-row right" style="">
                <p class="footer-menu"><a href="/philosophie/">Philosophie</a> / <a href="/impressum/">Impressum</a></p>

            </div>
        </div>
    </div>
</div>